# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.mod*
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Custom
*.bak
*.ini
*.lnk
*.save-failed
*.user
*~
.DS_Store
.DS_Store?
.Trashes
._*
Thumbs.db
ehthumbs.db
stdout.txt
